/* =============
    Typography
============= */

.introducing{
    background-color: #405D7A;
    &.container{
        h1,p{
            color: #FFFFFF
        }

        ul{
            @include sm{
                display:grid;
                grid-template-columns: 1fr 1fr;
            }
        }
        @include md{
            display:grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas: 
            ". content ." 
            ;

        }

        @include xl{
            grid-template-columns: repeat(6,1fr);
            grid-template-areas: 
            "p1 p1 p1 p2 p2 p3"
            ;
        }
        .introducing-content{

            p,h1,button{
                text-align:center;
                padding:15px 10px;
            }
        }
        li{
            display:none;
    
            @include md{
                display:block;
            }
            @include sm{
                display:block;
            }
    
            @include lg{
                display:block;
            }
        }
        .outline-spacing{
            p,h1,button{
                text-align:center;
                padding-left:30px;
                padding-right:30px;
            }
        }
            
    }
    input{
        border:1px solid white;
        background-color: #405D7A;
        color:white;
    }

    button{
        border:1px solid white;
        padding:20px 80px;
        background-color: #405D7A;
        color:white;
        margin:30px 60px;
 }

}