/* =============
    Location
============= */

.location{
    
    .h2,h3,p{
        color:#FFFFFF;
    }

    
    .content{
    
        @include sm{
            display:grid;
            grid-template-columns: 50% auto;
            gap:20px;
        }

        @include md{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            gap:20px;
        }

        @include lg{
            grid-template-columns: repeat(3,1fr);
        
        }

        .border-bottom{
            border-bottom: 2px solid #979797;
            margin: 25px 0 25px 0;
        }


    }
    ul{
        img{
            padding-right:10px;

    
        }

        h5{
            font-size:16px;
            margin-bottom:15px;
        }

        p{
            color:#FFFFFF;
            font-size:12px;
            margin-bottom:15px;
        }

        a{
            color:#FFFFFF;

            &:hover{
                color:#5E92C6;
                transition: 0.5s;

            }
        }

    
    }

    li{
        display:none;

        @include md{
            display:block;
        }
        @include sm{
            display:block;
        }

        @include lg{
            display:block;
        }
    }
    
    input{
        border:1px solid white;
        background-color: #405D7A;
        color:white;
        padding:10px 10px;
    }
    
    button{
        padding:10px 10px;
    }

    .newsletter{

        form,h2{
            display:flex;
            flex-flow:wrap;
            justify-content: right;
        }
    }


    .follow{
            
        h2{
            display:inline-block;
            display:flex;
            flex-flow:wrap;

            @include sm{
                justify-content: left;
            }

            @include md{
                justify-content:center;
            }

            @include lg{
                justify-content: center;
            }
            
        }

        img{
            &:hover{
                border-bottom: 2px solid #D6E2EE;
                transition: 0.5s;
                padding:5px;
            }
        }

        
    }

}


.footer-color{
    background-color: #2A3036;
    color:#FFFFFF;

    h2{
        @include sm{
            font-size:20px;
        }

        @include md{
            font-size:20px;
        }

        @include lg{
            font-size:20px;
        }
    
    }

    h3{
        font-size:20px;
    }
}


