/* =============
News
============= */

.news{
    &.container{

        h2{
            padding:10px 60px;
        }
     ul{
        @include sm{
            display: grid;
            grid-template-columns: 1fr;
        }
        @include md{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @include lg{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        padding-left: 0%;

        li{
            list-style:none;
            text-align:center;
            padding: 10px
        }

    }

    }
    input{
        border:1px solid white;
        background-color: #405D7A;
        color:white;
    }
    button{
        border:1px solid white;
        background-color: #405D7A;
        color:white;
        padding:20px 60px;

        &:hover{
            background-color: #30455A;
            transition: 0.5s;
        }
 }
 
}